.about {
  &__img {
    position: absolute;
    left: 50%;
    bottom: 246px;
    @include adaptive-property(width, 320, 526, 718);
    @include adaptive-property(height, 300, 493, 673);
    transform: translateX(-50%);
    z-index: -1;

    @include onTablet {
      top: 0;
      bottom: 0;
    }

    img {
      @include ibg;
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    @include adaptive-property(row-gap, 64, 72, 144);
  }
  &__text {
    @include onTablet {
      display: flex;
      column-gap: 24px;
    }
  }
  &__digits {
    @include onTablet {
      display: flex;
      flex-direction: column;
      row-gap: 80px;
    }
    @include onDesktop {
      row-gap: 0;
      flex-direction: row;
    }
  }
  &__row {
    @include onTablet {
      display: flex;
      column-gap: 24px;
    }
    @include onDesktop {
      flex: 0 0 50%;
    }
  }
  &__digit {
    margin-bottom: 48px;
    display: flex;
    flex-direction: column;
    row-gap: 8px;

    @include  onTablet {
      flex: 0 0 50%;
      margin-bottom: 0;
    }
  }
  &__subtitle {
    @extend %section-title;
    font-size: 96px;
  }
  &__title {
    flex: 0 0 50%;
    margin-bottom: 32px;

    @extend %section-title;
    @include onTablet {
      margin-bottom: 0px;
    }
  }
}