.footer {
  background-color: $text-color;
  &__content {
    color: #fff;
    @include adaptive-property(padding-block, 60, 88, 88);
  }
  &__text {
    @include adaptive-property(margin-bottom, 40, 40, 40);
    @include onTablet {
      display: flex;
      justify-content: space-between;
    }
  }
  &__title {
    margin-bottom: 40px;
    line-height: 0.85;
    letter-spacing: -5%;
    text-transform: uppercase;
    @include adaptive-property(font-size, 48, 56, 72);
  }
  &__menu {
    @include adaptive-property(margin-bottom, 60, 0, 0);
  }
  &__subtitle {
    font-weight: 500;
    line-height: 1;
    letter-spacing: 2%;
    text-transform: uppercase;
    color: $gray-text-color;
  }
  a {
    color: #fff;
  }
}

.menu-footer {
  &__logo {
    display: block;
    position: relative;
    width: 168px;
    height: 40px;
    @include adaptive-property(margin-bottom, 40, 60, 60);
    transition: $transition-duraction ease-in-out;
      &:hover {
        transform: scale(1.1);
      }
      @include screen-hover {
        transform: scale(1.1);
      }

    svg {
      @include ibg;
      object-fit: contain;

      path {
        fill: #fff;
        stroke-width: 1;
        stroke: #fff;
        stroke-dashoffset: 0;
        transition:
          fill $transition-duraction ease,
          stroke $transition-duraction ease-in-out 0.2s;
      }
      &:hover path {
        fill: $red-text-color;
        stroke: $red-text-color;
      }
      @include screen-hover {
        path {
          fill: $red-text-color;
          stroke: $red-text-color;
        }
      }
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
  }
  &__link {
    display: inline-block;
    @extend %hover-link;
    @include screen-hover-before {
      left: 0;
      right: 0;
      width: 100%;
      transition: $transition-duraction ease-in;
    }
    &:before {
      background-color: #fff;
    }
  }
}
.contact-us {
  @include onTablet {
    flex: 0 0 50%;
  }
  &__contacts {
    @include onDesktop {
      display: flex;
      justify-content: space-between;
    }
  }
  &__calls {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
  }
  &__email {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    @include onDesktop {
      flex: 0 0 50%;
    }
  }
  &__link,
  &__email-link {
    display: inline-block;
    width: max-content;
    @extend %hover-link;
    @include screen-hover-before {
      left: 0;
      right: 0;
      width: 100%;
      transition: $transition-duraction ease-in;
    }
    &:before {
      background-color: #fff;
    }
  }
}
.socials {
  @include onTablet {
    display: flex;
    justify-content: space-between;
  }
  &__icons {
    display: flex;
    column-gap: 32px;
  }
  &__copyright {
    color: $gray-text-color;
    @include onTablet {
      flex: 0 0 50%;
    }
  }
  &__icon {
    display: block;
    width: 24px;
    height: 24px;
    @include adaptive-property(margin-bottom, 40, 0, 0);
    position: relative;

    svg {
      width: 100%;
      height: 100%;
      transition: $transition-duraction ease-in-out;
      &:hover {
        transform: scale(1.1);
      }
      @include screen-hover {
        transform: scale(1.1);
      }
      path {
        stroke-width: 1;
        stroke-dashoffset: 0;
        stroke: $red-text-color;
        transition:
          fill $transition-duraction ease-in,
          stroke $transition-duraction ease 0.2s;
      }
      &:hover path {
        fill: #fff;
        stroke: #fff;
      }
      @include screen-hover {
        path {
          fill: #fff;
          stroke: #fff;
        }
      }
    }
  }
}