.header {
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include adaptive-property(height, 64, 64, 88);
  }
  &__logo {
    position: relative;
    display: block;
    width: 136px;
    height: 32px;
    z-index: 10;
    transition: $transition-duraction ease-in-out;
      &:hover {
        transform: scale(1.1);
      }
      @include screen-hover {
        transform: scale(1.1);
      }

    svg {
      @include ibg;
      object-fit: contain;

      path {
        fill: $text-color;
        stroke-width: 1;
        stroke: $text-color;
        stroke-dashoffset: 0;
        transition:
          fill $transition-duraction ease,
          stroke $transition-duraction ease-in-out 0.2s;
      }
      &:hover path {
        fill: $red-text-color;
        stroke: $red-text-color;
      }
      @include screen-hover {
        path {
          @include screen-hover {
            fill: $red-text-color;
            stroke: $red-text-color;
          }
        }
      }
    }
  }
  &__menu-content {
    position: relative;
    left: 0;
    top: 0;
  }
  &__menu {
    position: fixed;
    right: -100%;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 3;
    background-color: $bg-color;
  }
}
.burger {
  display: block;
  position: relative;
  top: 0;
  left: 0;
  width: 24px;
  height: 10px;
  cursor: pointer;
  z-index: 10;
  @include onDesktop {
    display: none;
  }

  &:before,
  &:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 20%;
    background-color: $text-color;
    transition: $transition-duraction ease-in;
  }
  &:before {
    top: 0;
  }
  &::after {
    bottom: 0;
  }
}
.burger.active {
  &:before {
    top: 50%;
    transform: rotate(-45deg) translateY(-50%);
  }
  &::after {
    bottom: 50%;
    transform: rotate(45deg) translateY(50%);
  }
}
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: $transition-duraction ease-in;

  @include onDesktop {
    display: flex;
    position: relative;
    opacity: 1;
    right: 0;
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 24px;

    @include onDesktop {
      flex-direction: row;
      flex-wrap: wrap;
      column-gap: 64px;
      flex-wrap: wrap;
    }
  }
  &__link {
    @include adaptive-property(font-size, 20, 22, 16);
    font-weight: 400;
    letter-spacing: -1%;
    color: $text-color;
    text-align: center;
    @extend %hover-link;
    @include screen-hover-before {
      left: 0;
      right: 0;
      width: 100%;
      transition: $transition-duraction ease-in;
    }
    &:before {
      background-color: $text-color;
    }
  }
  &__link-contacts {
    display: block;
    position: relative;
    font-weight: 500;
    line-height: 1;
    letter-spacing: 2%;
    text-transform: uppercase;
    color: $red-text-color;

    &::before {
      content: "";
      display: inline-block;
      position: absolute;
      top: 50%;
      left: -8px;
      width: 24px;
      height: 24px;
      background-image: url("../../images/icons/call.svg");
      background-position: center;
      background-size: cover;
      transform: translate(-100%, -50%);
    }
  }
}
.menu.active {
  display: flex;
  right: 0%;
  opacity: 1;
  transition: $transition-duraction ease-in-out;
}
