.products {
  &__title {
    margin-bottom: 24px;
    @extend %section-title;
  }
  &__text {
    @include adaptive-property(margin-bottom, 56, 80, 80);
  }
  &__text p:not(:last-child) {
    margin-bottom: 10px;
  }
  &__cards {
    display: grid;
    @include adaptive-property(row-gap, 56, 80, 80);

    @include onTablet {
      grid-template-columns: repeat(8, 1fr);
      column-gap: 24px;
    }
  }
  &__row {
    grid-column: 1 / -1;

    display: flex;
    flex-direction: column;
    row-gap: 54px;

    @include onTablet {
      flex-direction: row;
      justify-content: space-between;
      row-gap: 0px;
    }
  }
  &__row--left {
    @include onDesktop {
      grid-column: 1 / 7;
    }
  }
  &__row--right {
    @include onDesktop {
      grid-column: 3 / -1;
    }
  }
}
.card {
  padding-inline: 7px;
  margin-inline: -7px;
  
  @include onTablet {
    flex: 0 0 50%;
  }
  &__img {
    width: 100%;
    margin-bottom: 16px;
    aspect-ratio: 402 / 512;
    position: relative;
    left: 0;
    top: 0;
    border-radius: 8px;
    overflow: hidden;
    &:hover {
      box-shadow: 3px 3px 12px 9px #7f8096;
      transition: $transition-duraction ease-in;
    }
    @include screen-hover {
      box-shadow: 3px 3px 12px 9px #7f8096;
      transition: $transition-duraction ease-in;
    }

    img {
      @include ibg;
      transform: scale(1) translateY(0);
      transform-origin: 50% 16%;
      transition: $transition-duraction ease-out 0.1s;

    &:hover {
      box-shadow: 0 0 19.5px 11px #7f8096;
      transform: scale(1.05) translateY(-15px);
      transform-origin: top;
    }
    @include screen-hover {
      box-shadow: 0 0 19.5px 11px #7f8096;
      transform: scale(1.05) translateY(-15px);
      transform-origin: top;
    }
    }
  }
  &__title {
    margin-bottom: 8px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 2%;
    text-transform: uppercase;
    color: $gray-text-color;

    a {
      display: inline-block;
      color: inherit;
      @extend %hover-link;
      @include screen-hover-before {
        left: 0;
        right: 0;
        width: 100%;
        transition: $transition-duraction ease-in;
      }
      &:before {
        background-color: $gray-text-color;
      }
      
    }
  }
  &__text {
    margin-bottom: 16px;
  }
  &__text p:not(:last-child) {
    margin-bottom: 10px;
  }
  &__link {
    width: max-content;
    margin-left: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 2%;
    text-transform: uppercase;
    color: $red-text-color;

    img {
      width: 16px;
      height: 16px;
      transform: translateX(-8px);
      object-fit: cover;
      object-position: center;
      animation: arrow $transition-duraction linear  0.1s alternate infinite forwards;
      animation-play-state: paused;
    }
    &:hover img {
      animation-play-state: running;
    }
    @include screen-hover {
      img {
        animation-play-state: running;
      }
    }
  }
}

@keyframes arrow {
  0% {
    transform: translateX(-8px);
  }
  100% {
    transform: translateX(0px);
  }
}